<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCaseHSTL.TC21_HoSoTaiLieuKhongKyMoc_LuongKyNhay"/>
      <class name="testCaseHSTL.TC06_HoSoTaiLieuKhac"/>
      <class name="testCaseVBBanHanh.TC02_ThemMoiVaPhatHanhVb"/>
      <class name="testCaseHSTL.TC16_HoSoTaiLieuKhongKyMoc_ChuyenXyLyOBuocTruongPhong"/>
      <class name="testCaseVBDT.TC01_ThaoTacTrenFormDuThao"/>
      <class name="testCaseVBBanHanh.TC07_LapPhieuGiaiQuyetVBDaPhatHanh_PhanCongThucHien"/>
      <class name="testCaseVBKySo.TC24_YeuCauHieuChinhVaThayDoiKyThuaLenh"/>
      <class name="testCaseHSTL.TC15_HoSoTaiLieuKyMocChuyenXuLyBuocTGD"/>
      <class name="testCaseChuTichXuLyVanBanDen.TC03_ChuTichChiaSeVB"/>
      <class name="testCaseVBDT.TC04_NguoiPheDuyetChuyenXuLy"/>
      <class name="testCaseNVXuLyVanBanDen.TC03_NV_NVLapHoSoDuThao"/>
      <class name="testCaseVBKySo.TC02_FileWord_KySoFile1Trang"/>
      <class name="testFunction.CheckFunction"/>
      <class name="testCaseNVXuLyVanBanDen.TC04_NV_NVLapHoSoXuLy"/>
      <class name="testCaseVBKySo.TC22_LuongKySoTruongPhongTrinhTGD"/>
      <class name="testCaseVBDenVanThu.TC06_VBDen_ChuyenXuLy"/>
      <class name="testCaseTPXuLyVanBanDen.TC03_Tp_LapHoSoDuThao"/>
      <class name="testCaseVBBanHanh.TC04_SuaThongTinVBDaPhatHanh"/>
      <class name="testCaseVBKySo.TC13_KyThuaLenh_NguoiSoanCoWorkerName"/>
      <class name="testCaseHSTL.TC01_TaoHopDong2UserPheDuyet"/>
      <class name="testCaseHSTL.TC02_TaoBienBanThanhToan"/>
      <class name="testCaseVBKySo.TC06_FileWord_KySoKeySTTvaAccount"/>
      <class name="testCaseHSTL.TC19_HoSoTaiLieuKyMoc_YeuCauDieuChinh"/>
      <class name="testCaseHSTL.TC03_TaoToTrinhTpTrinhTGDPheDuyet"/>
      <class name="testCaseVBKySo.TC08_FileExcel_KySo1File"/>
      <class name="tetsCaseTinhNangChung.TC01_KiemTraPermissionVBDen"/>
      <class name="testCaseHSTL.TC18_HoSoTaiLieuKhongKyMoc_YeuCauDieuChinh"/>
      <class name="testCaseVBKySo.TC14_KyThuaLenh_NguoiSoanKhongCoWorkerName"/>
      <class name="testFunction.TC01_TaoHopDong2UserPheDuyet"/>
      <class name="testCaseVBDT.TC06_NguoiPheDuyetYeuCauBoSungThongTin"/>
      <class name="testCaseVBDenVanThu.TC05_VBDangLuu_LapPhieuGiaiQuyet"/>
      <class name="testCaseVBDenVanThu.TC08_VBDen_VanThuKetThucVB"/>
      <class name="testFunction.TC06_KiemTraSoLuongTaskVaBoldTask"/>
      <class name="testCaseTPXuLyVanBanDen.TC04_Tp_LapHoSoXuLy"/>
      <class name="tetsCaseTinhNangChung.TC03_KiemTraPermsionVBDuThao"/>
      <class name="testCaseVBKySo.TC17_FileWord_NguoiSoanCoWorkerName"/>
      <class name="testCaseHSTL.TC03_TaoToTrinhCoFileLoi"/>
      <class name="testFunction.Test_TC02_TaoBienBanThanhToan"/>
      <class name="testCaseNVXuLyVanBanDen.TC01_NV_NVCapNhatTask"/>
      <class name="testCaseTGDXuLyVanBanDen.TC03_TGD_ChiaSeVB"/>
      <class name="testCaseHoSoLuuTru.TC01_TaoHoSoLuuTru"/>
      <class name="testCaseHSTL.TC23_HoSoTaiLieuKyMoc_2BuocPheDuyetGiongNhau"/>
      <class name="checkWebpart.checkfn"/>
      <class name="testCaseVBKySo.TC05_FileWord_KyNhayOBuocCuoiCung"/>
      <class name="testCaseHSTL.TC14_HoSoTaiLieuKyMocChuyenXuLyBuocTruongPhong"/>
      <class name="testCaseTGDXuLyVanBanDen.TC05_TGD_TrinhLanhDao"/>
      <class name="testCaseHSTL.TC12_HoSoTaiLieuKyMoc_KeySTTvaUser"/>
      <class name="testCaseVBDT.TC08_NguoiPheDuyetThuHoi"/>
      <class name="testCaseVBKySo.TC09_KySoNhieuLoaiFile"/>
      <class name="testFunction.TC02_ThemMoiVaPhatHanhVb"/>
      <class name="testCaseHoSoLuuTru.TC01_SuaHoSoLuuTru"/>
      <class name="testCaseVBKySo.TC01_ThaoTacTrenFormVBKySo"/>
      <class name="testCaseVBBanHanh.TC03_ThemMoiVaPhatHanh_ThuHoi"/>
      <class name="testCaseHSTL.TC24_HoSoTaiLieuKhongKyMoc_2BuocPheDuyetGiongNhau"/>
      <class name="tetsCaseTinhNangChung.TC02_KiemTraPemissionVBPhatHanh"/>
      <class name="testCaseHSTL.TC07_TaoToTrinh_KhongKey"/>
      <class name="testCaseTGDXuLyVanBanDen.TC04_TGD_PhanCongThucHien"/>
      <class name="testCaseChuTichXuLyVanBanDen.TC05_ChuTich_PhanCongLaiDepartment"/>
      <class name="tetsCaseTinhNangChung.TC05_TaoHoSoLuuTru"/>
      <class name="testCaseVBDenVanThu.TC03_VBDangLuuCoDinhKem_XoaFileDinhKem"/>
      <class name="testCaseVBKySo.TC03_FileWord_KySoFileNhieuTrang"/>
      <class name="testCaseTPXuLyVanBanDen.TC06_Tp_ChonLaiNguoiXuLy"/>
      <class name="testCaseVBBanHanh.TC06_PhatHanhTuVBKhongKySoDaPheDuyet"/>
      <class name="testCaseTGDXuLyVanBanDen.TC02_TGD_KetThucVB"/>
      <class name="testCaseVBDenVanThu.TC01_VBDangLuuKhongDinhKem"/>
      <class name="testFunction.TC01_TaoHoSoLuuTru"/>
      <class name="testCaseHSTL.TC09_KiemTraHoSoLuuTru"/>
      <class name="testCaseHSTL.TC10_HoSoTaiLieuKyMoc_KeyUser"/>
      <class name="testCaseChuTichXuLyVanBanDen.TC04_ChuTich_PhanCongThucHien"/>
      <class name="testCaseVBKySo.TC18_FileWord_Validate_Key_KySo"/>
      <class name="testCaseVBKySo.TC23_YeuCauHieuChinhVaThayDoiNguoiDuyet"/>
      <class name="testCaseChuTichXuLyVanBanDen.TC05_ChuTich_TrinhLanhDao"/>
      <class name="testCaseHSTL.TC01_TaoHopDongCoFileLoi"/>
      <class name="testCaseChuTichXuLyVanBanDen.TC01_ChuTichChuyenXuLy"/>
      <class name="testCaseChuTichXuLyVanBanDen.TC02_ChuTichKetThucVB"/>
      <class name="testCaseHoSoLuuTru.TC01_KiemTraQuyenNguoiCapNhat"/>
      <class name="testCaseVBDT.TC02_TaoVbDuThaoGuiPheDuyetVaThuHoi"/>
      <class name="testCaseVBDenVanThu.TC07_VBDen_LapPhieuGiaiQuyet"/>
      <class name="testCaseVBDT.TC03_TaoVbDuThaoGuiPheDuyetHoanTatQuyTrinh"/>
      <class name="testCaseNVXuLyVanBanDen.TC02_NV_NVHoanTatTask"/>
      <class name="testCaseTPXuLyVanBanDen.TC05_Tp_PhanCongVanBan"/>
      <class name="testCaseVBDT.TC05_NguoiPheDuyetYeuCauHieuChinh"/>
      <class name="testCaseVBKySo.TC19_FileWord_KySoFileCoCommentTrackChange"/>
      <class name="testCaseVBKySo.TC10_KySoLoiNhieuLoaiFile"/>
      <class name="testCaseVBKySo.TC12_ChuyenXuLyTaiBuocLanhDaoBGD"/>
      <class name="testCaseHSTL.TC17_HoSoTaiLieuKhongKyMoc_ChuyenXyLyOBuocTGD"/>
      <class name="testCaseVBBanHanh.TC01_ThemMoiVaLuu"/>
      <class name="testFunction.TC06_VBDen_ChuyenXuLy"/>
      <class name="testCaseHSTL.TC05_BienBanNoiBo"/>
      <class name="testCaseVBDT.TC07_NguoiPheDuyetChiaSe"/>
      <class name="tetsCaseTinhNangChung.TC04_KiemTraPemisisoHSTL"/>
      <class name="testCaseHSTL.TC01_TaoHopDong"/>
      <class name="testCaseVBDenVanThu.TC04_VBDangLuu_ChuyenXuLy"/>
      <class name="testCaseHoSoLuuTru.TC01_XoaHoSoLuuTru"/>
      <class name="testCaseVBBanHanh.TC06_LapPhieuGiaiQuyetVBDaPhatHanh_CapNhatTask"/>
      <class name="testCaseVBKySo.TC15_KyThuaLenh_ThayDoiTuCoThanhKhong"/>
      <class name="testCaseVBKySo.TC16_KyThuaLenh_ThayDoiTuKhongThanhCo"/>
      <class name="testCaseTPXuLyVanBanDen.TC01_Tp_CapNhatTask"/>
      <class name="checkWebpart.vanBanDen"/>
      <class name="testCaseHSTL.TC04_BaoCaoNoiBo"/>
      <class name="checkWebpart.baoCaoInSo"/>
      <class name="checkWebpart.vanBanBanHanh"/>
      <class name="testFunction.TC01_TaoHopDongCoFileLoi"/>
      <class name="tetsCaseTinhNangChung.TC06_KiemTraSoLuongTaskVaBoldTask"/>
      <class name="testCaseHoSoLuuTru.TC01_KiemTraQuyenNguoiXem"/>
      <class name="testCaseTPXuLyVanBanDen.TC02_Tp_KetThucTask"/>
      <class name="testCaseVBDenVanThu.TC02_VBDangLuuCoDinhKem"/>
      <class name="testCaseVBKySo.TC11_ChuyenXuLyTaiBuocLanhDaoPhongBan"/>
      <class name="testCaseHSTL.TC08_ThaoTacXoaDanhMucTrenForm"/>
      <class name="testCaseVBKySo.TC07_FilePdf_KySo1File"/>
      <class name="testCaseHSTL.TC22_HoSoTaiLieu_ChiaSe"/>
      <class name="testCaseHSTL.TC03_TaoToTrinh"/>
      <class name="testCaseVBKySo.TC21_KyThuaLenh_NguoiSoanCoWorkerName1Step"/>
      <class name="testCaseVBKySo.TC20_FileWord_KySo2StepGiongNhau"/>
      <class name="testCaseHSTL.TC13_HoSoTaiLieuKhongKyMoc_KeyUserVaSTT"/>
      <class name="testCaseVBKySo.TC04_FileWord_KySoFileWord"/>
      <class name="testCaseHSTL.TC01_TaoHopDongTpTrinhTGDPheDuyet"/>
      <class name="testCaseVBBanHanh.TC05_LapPhieuGiaiQuyetVBDaPhatHanh"/>
      <class name="testCaseHSTL.TC03_TaoToTrinhGui2UserPheDuyet"/>
      <class name="testFunction.TC02_FileWord_KySoFile1Trang"/>
      <class name="testCaseTGDXuLyVanBanDen.TC01_TGD_ChuyenXyLy"/>
      <class name="checkWebpart.vanBanDi"/>
      <class name="checkWebpart.cauHinhKhac"/>
      <class name="testCaseHSTL.TC11_HoSoTaiLieuKhongKyMoc_KeyUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
